#code{
    white-space: pre;
    font-size: 12pt;
    width: 70vw;
    height: 98vh;
    tab-size: 4;
}

html, body{
    height: 99vh;
}

#snippets{
    position: fixed;
    padding: 10vh, 5vw;
    left: 70vw;
    width: 25vw;
    top: 0;
    border-left: 1px solid grey;
    height: 98vh;
    overflow-y: auto;
}

.file{
    display: none;
    &-show{
        display: block !important;
    }
}

#error{
    background-color: rgb(236, 90, 90);
}

.codeline{
    margin: 1px;
}

.gap{
    display: inline-block;
    background-color: rgb(189, 189, 189);
    border-radius: 10px;
    height: 15pt;
    vertical-align: -2px;
    text-align: center;
    border: 1px solid rgb(189, 189, 189);    
}

.snippet{
    color: black;
    background-color: rgb(189, 189, 189);
    border-radius: 10px;
    height: 18pt;
    width: max-content;
    padding: 1px 4px;
    text-align: center;
    margin: 20px;
    padding: 3px 12px 8px 12px;
    cursor: grab;
    vertical-align: bottom;
    
    &-selected{
        border: 3px solid yellow;
        padding: 0px 9px 5px 9px;
    }
}

@widths: range(100);

each(@widths, {
    .width-@{value} {
        width: @value * 5pt
    }
})